{% extends 'base.html' %}

{% block content %}
  <h2>Task List</h2>
  <ul>
    {% for task in tasks %}
      <li>
        {{ task.name }} - {{ task.get_priority_level_display }} - {% if task.completion_status %}Completed{% else %}Not Completed{% endif %}
        <a href="{% url 'add_ks:edit_task' task.id %}">Edit</a> |
        <a href="{% url 'add_ks:delete_task' task.id %}">Delete</a> |
        <a href="{% url 'add_ks:mark_task_as_complete' task.id %}">Mark as Complete</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'add_ks:ask' %}">Add Task</a>
{% endblock %}

