<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Tasks</title>
</head>
<body>
    <h1>Task List</h1>
    <ul>
        {% for task in tasks %}
        <li>
            {{ task['name'] }} - {{ task['description'] }} - {{ task['Date'] }} - {{ task['priority level'] }} - {{ task['completion status'] }}
            <a href="{{ url_for('complete_task', task_id=task['id']) }}">Complete</a>
            <a href="{{ url_for('delete_task', task_id=task['id']) }}">Delete</a>
            <a href="{{ url_for('edit_task', task_id=task['id']) }}">Edit</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>

